PORT=4000
MONGODB_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/?retryWrites=true&w=majority&appName=MegaBank
JWT_SECRET=change_me_in_production
JWT_EXPIRES_IN=48h
ADMIN_EMAIL=admin@megabank.ma
ADMIN_PASSWORD=change_me
